<h2><%= link_to l(:label_custom_field_plural), :controller => 'custom_fields', :action => 'index_admin_info_readonly', :tracker_id => params["tracker_id"] %>
  &#187; <%= link_to l(@custom_field.type_name), :controller => 'custom_fields', :action => 'index_admin_info_readonly', :tab => @custom_field.class.name, :tracker_id => params["tracker_id"]  %>
  &#187; <%=h @custom_field.name %></h2>

<%= labelled_form_for :custom_field, @custom_field, :url => "/custom_fields/#{@custom_field.id}/modify_update", :html => {:method => :put, :id => 'custom_field_form'} do |f| %>

<%= render :partial => 'form_admin_info_readonly', :locals => { :f => f } %>



<div class="box tabular">
    <table style="width: 100%;">
        <tr>
            <td><%= l(:modify_custom_fields_proposer) %></td>
            <td>
                <select id="proposer_id" name="extension[proposer_id]" disabled="disabled"  value="<%= @extension_info.blank? ? "" : @extension_info.attributes['proposer_id'] %>">
                    <%  if @extension_info.blank?  %>
                            <option value=""></option>
                    <% end %>
                    <% @users.each do |u| %>
                        <option value="<%= u.id %>"
                        
                        <%  if (@extension_info.blank? ? "" : @extension_info.proposer_id.to_s) == u.id.to_s %>
                            selected="selected"
                        <% end %>
                        
                        >
                            <%= u.lastname %><%= u.firstname %>
                        </option>
                    <% end %>
                </select>
               
            </td>
        </tr>
        <tr>
            <td><%= l(:modify_custom_fields_comment) %></td>
            <td><textarea readonly="readonly" name="extension[comment]" style="width: 80%; height: 120px;"><%= @extension_info.blank? ? "" : @extension_info.attributes['comment'] %></textarea></td>
        </tr>
       
    </table>

</div>


<% end %>


<script type="text/javascript">
$(document).ready(function() {
    $("#sidebar").hide();
    $("#content").css("width", "100%");
});
</script>


